USE railway; DELETE FROM usuarios WHERE email = 'admin@maraelu.co.ao'; INSERT INTO usuarios (nome, email, senha, tipo) VALUES ('Administrador', 'admin@maraelu.co.ao', 'admin123', 'admin'); SELECT * FROM usuarios WHERE email = 'admin@maraelu.co.ao';
